<h1>Editer</h1>
<input type="file" nv-file-select="{ disabled: true }" uploader="uploader"/><br/>
<div class="block-img">
  <div ng-repeat="img in image" style=" display:inline;"><img ng-src="uploads/{{img.file}}" style="max-width:100px;" /></div>
</div>
<form name="article_edit" ng-submit="SubmitForm()">
  <div class="form-group">
    <label for="inputtitle">Titre</label>
    <input type="text" class="form-control" id="inputtitle" ng-model="blog.title" required>
  </div>
    <div class="form-group">
      <label for="inputtitle">Article en ligne ?</label>
      <select ng-model="blog.online">
        <option value="0">Non</option>
        <option value="1">Oui</option>
        <option value="9">Brouillon</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputcontent">Contenu</label>
      <textarea ng-model="blog.content" id="inputcontent" class="form-control" addImgToTextarea=""></textarea>
    </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
