<div id="bg_home">
	<div class="container">
	<uib-carousel interval="myInterval" no-wrap="noWrapSlides">
		<uib-slide ng-repeat="slide in slides" active="slide.active">
		<img ng-src="{{slide.image}}" style="margin:auto;">
		<div class="carousel-caption">
		  <h4>Slide {{$index}}</h4>
		  <p>{{slide.text}}</p>
		</div>
		</uib-slide>
	</uib-carousel>
	</div>
</div>
<div class="container">
	<h1>Blog</h1>
	<div ng-repeat="itm in blog_item">
	  <h2><a href="#!/blog/{{itm.slug}}/{{itm.id}}">{{itm.title}}</a></h2>
	  <img ng-src="uploads/{{itm.file}}" ng-if="itm.file" style="width:100%;" />
	  <small>créé le {{itm.created | amDateFormat:'MM.DD.YYYY à HH:mm:ss'}}</small>
	  <p>{{itm.content}}</p>
	</div>
	<ul class="pagination">
		<li ng-repeat="page in pagination" ng-if="page" ng-class="{'active': page == cpage}"><a href="#!/blog/{{page}}">{{page}}</a></li>
	</ul>
</div>